<html lang="en" ng-app="ImageSound">
<head>
  <meta charset="utf-8">
  <title>Sound Image</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="MainController">

  <div id="searchBar">
    <input type="text" ng-model="searchTag" placeholder="Search theme">
    <button ng-click="getBackground(searchTag)">Go!</button>
  </div>
  
  <label id="playlistHider" ng-click="showHidePlaylist()">Playlist</label>
  <div id="playlists" ng-show="showSongs">
    <ul>
      <li ng-repeat="url in trackUrls">
        <iframe ng-src={{url}} width="250" height="80" frameborder="0" allowtransparency="true"></iframe>
      </li>
    </ul>
  </div>   

  <script src="500px.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="script.js"></script>

</body>
</html>