<html lang="en" ng-app="ImageSound">
<head>
  <meta charset="utf-8">
  <title>Sound Image</title>
</head>

<body ng-controller="MainController">

  <input type="text" ng-model="searchTag" ng-change="searchSpotifyTag(searchTag)" placeholder="Search for tracks">

  <ul>
    <li ng-repeat="url in trackUrls">
      <iframe ng-src={{url}} width="250" height="80" frameborder="0" allowtransparency="true"></iframe>
    </li>
  </ul>

  <script src="node_modules/angular/angular.js"></script>
  <script src="script.js"></script>

</body>
</html>
